body {
    background-color: teal;


}

.centerTable { 
    margin: 0px auto; 
    padding-left: 22px;
}

header {
    font-size: 80px;
    text-align: center;
    font-family: Nabla;
    background-color: #32588F;
}

h1 {
    font-family: Nabla;
}

a {
    color: #EC6B2A;
}

h2 {
    font-family: Nabla;
    font-size: 30px;
}

p {
    color: #FFC300;
    font-family: Merienda;
    font-size: 20px;
}

li, ul {
    color:coral;
    font-family: Merienda;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.startOverRover {
    clear: both;
}

h3 {
    font-family: Merienda;
    color: #FFC300;
}

table, th, td {
    border: 3px solid black;
}