body {
    background-color: teal;


}

.centerTable { 
    margin: 0px auto; 
    padding-left: 22px;
}

header {
    font-size: 80px;
    text-align: center;
    font-family: Nabla;
    background-color: #32588F;
}

h1 {
    font-family: Nabla;
}

a :link {
    color: #EC6B2A;
}



p {
    color: #FFC300;
    font-family: Merienda;
}