h1 {
    font-size: 3.6rem;
    color: "(75, 133, 94)";
    text-align:center
}   

p {
    font-size: serif;
    font-size: 10px;

}

h2 {
    color: "rgb (75, 133, 94)";
    font-size: 2.4rem;
}

h3 {
    color: rgb "(75, 133, 94)";
    font-size: 2rem;
}

hr {
    margin: 0;
    padding: 10vh;
    /* Set the height of the header to 100% of the viewport height */
    background-color: "(75, 133, 94)";
}