body {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(yellow, red);
}

table, th, td {
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: gold;
    color: darkslategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tfoot {
    font-size: 8px;
    background-color: beige;
    text-align: center;
}

tbody tr:nth-of-type(even) {
    background-color: orangered;
}

.centerTable { 
    margin: 0px auto; 
}

img {
    width: 250px;
    height: 150px;
  
}